<!DOCTYPE html>
<html>
  <head>
    <title>Four oh Four</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1></h1>
      <p>Go placidly amid the noise and haste, and remember what peace there may be in silence...</p>
  </center>
  </body>
</html>
